.products-section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.625rem;
    row-gap: 3rem;


    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1050px) {
        grid-template-columns: repeat(4, 1fr);
    }
}